html {
  scroll-behavior: smooth;
  --lyserød: #f6e5e3;
  --koral: #ce4942;
  --mørkerød: #73140c;
  --sort: #000000;
}

@font-face {
  font-family: "Arsenica Trial", serif;
  src: url("../fonts/ArsenicaTrial-Demibold.woff2") format("woff2"), url("../fonts/ArsenicaTrial-Demibold.ttf") format("ttf");
}

/* Hero sektion */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 300px;
  width: 100%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--koral);
  color: var(--lyserød);
  font-size: 6.5rem;
  font-weight: 600;
  font-family: "Arsenica Trial", serif;
  font-style: italic;
  transition: background-color 0.5s ease;
  overflow: hidden;
}

.box:nth-child(2) {
  background-image: url(../img/Glow_photo_hero.webp);
  background-size: cover;
  background-position: center;
  color: #c8544d;
}

.box:nth-child(1) {
  padding-bottom: 50px;
}

.box:nth-child(2) {
  padding-top: 60px;
}

.box:nth-child(3) {
  padding-bottom: 100px;
}

.box:nth-child(4) {
  padding-top: 10px;
  padding-right: 40px;
}

@media (width >= 500px) {
  .container {
    height: 400px;
    width: 100%;
  }

  .box {
    font-size: 9rem;
  }

  .box:nth-child(1),
  .box:nth-child(2),
  .box:nth-child(3) {
    border-right: 1px solid var(--lyserød);
  }

  .box:nth-child(1) {
    padding-bottom: 50px;
  }

  .box:nth-child(2) {
    padding-top: 60px;
  }

  .box:nth-child(3) {
    padding-bottom: 100px;
  }

  .box:nth-child(4) {
    padding-top: 10px;
  }

  .box:hover {
    background-color: transparent;
    color: var(--koral);
    transition: 0.5s ease;
  }
  .box:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Glow_photo_fragrances.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    text-decoration-color: var(--koral);
    transition: opacity 0.5s ease;
    z-index: -1;
  }
  .box:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Glow_photo_hero.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
  }
  .box:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Glow_photo_makeup.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
  }
  .box:nth-child(4)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Glow_photo_skincare.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
  }

  .box:hover::after {
    opacity: 1;
  }
}

@media (width >= 780px) {
  .container {
    height: 480px;
    width: 100%;
  }

  .box {
    font-size: 13rem;
  }
}

/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 480px;
    width: 100%;
  }

  .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--koral);
    color: var(--lyserød);
    font-size: 13rem;
    font-weight: 600;
    font-family: "Arsenica Trial", serif;
    font-style: italic;
    transition: background-color 0.5s ease;
    overflow: hidden;
  }

  .box:nth-child(2) {
    background-color: var(--lyserød);
    background-image: url(../img/Glow_photo_hero.webp);
    background-size: cover;
    background-position: center;
    color: #c8544d;
  }

  .box:nth-child(1),
  .box:nth-child(2),
  .box:nth-child(3) {
    border-right: 1px solid var(--lyserød);
  }

  .box:nth-child(1),
  .box:nth-child(3) {
    padding-bottom: 125px;
  }

  .box:nth-child(2),
  .box:nth-child(4) {
    padding-top: 125px;
  }

  .box:hover {
    background-color: transparent;
  }

  .box:hover {
    background-color: transparent;
    color: var(--koral);
    transition: 0.5s ease;
  }
  .box:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Glow_photo_fragrances.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    text-decoration-color: var(--koral);
    transition: opacity 0.5s ease;
    z-index: -1;
  }
  .box:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Glow_photo_hero.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
  }
  .box:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Glow_photo_makeup.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
  }
  .box:nth-child(4)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Glow_photo_skincare.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
  }

  .box:hover::after {
    opacity: 1;
  } */

/* Hero sektion */

/* Editors Pick Gitter */

.editors_pick_title {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-family: "Bodoni 72 Oldstyle", "Playfair Display", "Times New Roman", Times, serif;
  font-style: italic;
  color: var(--koral);
  font-size: 2em;
  padding-top: 40px;
}

.editors_pick {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: var(--lyserød);
}
.editors_pick a {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
}
.smallProduct {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  background-color: var(--lyserød);
  text-align: center;
  padding: 20px;
  border: 1px solid var(--koral);
  transition: transform 0.3s ease;
}
.smallProduct img {
  background-color: white;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.smallProduct h3 {
  font-style: italic;
  color: var(--koral);
}

.smallProduct p {
  color: var(--mørkerød);
}
.price {
  font-weight: bold;
  color: var(--mørkerød);
}

.onSale {
  position: relative;
}

.onSale p.price {
  color: var(--mørkerød);
  font-weight: 400;
}

/* Rediger rabat-badge til at vise procent */
.onSale .discount {
  font-family: "futura-pt", serif;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--mørkerød);
  color: var(--lyserød);
  padding: 5px 10px;
  font-size: 0.9rem;
  text-align: center;
}

/* Markering for udsolgte produkter */

.soldOut {
  position: relative;
  opacity: 0.5;
  pointer-events: none;
}

.soldOut::after {
  content: "Udsolgt";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

.saleLabel {
  /* position: absolute; */
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--mørkerød);
  color: var(--lyserød);
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}

.isOnSale {
  visibility: visible;
}

.product_container {
  position: relative;
}

/* Editors Pick Gitter */

/* Kategori sektioner */

.left_section {
  background-color: var(--mørkerød);
  color: var(--lyserød);
  text-align: center;
  padding: 30px 60px;
  box-sizing: border-box;
}

.left_section img {
  max-width: 100%;
  aspect-ratio: 9/11;
  padding-top: 25px;
}

.left_section2 {
  background-color: var(--lyserød);
  color: var(--koral);
  text-align: center;
  padding: 30px 60px;
  box-sizing: border-box;
}

.left_section2 img {
  max-width: 100%;
  aspect-ratio: 9/9.5;
  padding-top: 25px;
}

.right_section {
  background-color: var(--koral);
  color: var(--lyserød);
  text-align: center;
  padding: 30px 60px;
  box-sizing: border-box;
}

.right_section img {
  max-width: 100%;
  aspect-ratio: 11/9;
  padding-top: 25px;
}

.left_section h2,
.right_section h2,
.left_section2 h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 200;
}

.left_section p,
.right_section p,
.left_section2 p {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 200;
  line-height: 2rem;
}

.read-more-button {
  background-color: transparent;
  color: var(--lyserød);
  border: 1px solid var(--lyserød);
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "futura-pt";
  font-weight: 200;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.read-more-button:hover {
  background-color: var(--lyserød);
  color: #6b0f0f;
}

.read-more-button_inverted {
  background-color: transparent;
  color: var(--koral);
  border: 1px solid var(--koral);
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "futura-pt";
  font-weight: 200;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.read-more-button_inverted:hover {
  background-color: var(--koral);
  color: var(--lyserød);
}

/* Footer img */
.footer_img {
  width: 100%;
  overflow: hidden;
}

.footer_img img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  display: block;
}
/* Footer img */
@media (width >= 750px) {
  .left_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    align-items: center;
    justify-content: center;
  }

  .left_section2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    align-items: center;
    justify-content: center;
  }

  .right_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: right;
    align-items: center;
    justify-content: center;
  }

  .order {
    order: -1;
  }

  .left_section div,
  .right_section div,
  .left_section2 div {
    padding: 24px 24px;
  }
}

@media (width >= 1000px) {
  .left_section {
    padding-right: 250px;
  }

  .left_section2 {
    padding-right: 250px;
  }

  .right_section {
    padding-left: 250px;
  }
}

/* .left_section {
  display: grid;
  background-color: var(--mørkerød);
  grid-template-columns: 1fr 2fr;
  color: var(--lyserød);
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 30px 60px;
  box-sizing: border-box;
}

.left_section2 {
  display: grid;
  background-color: var(--lyserød);
  grid-template-columns: 1fr 2fr;
  color: var(--koral);
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  box-sizing: border-box;
}

.right_section {
  display: grid;
  background-color: var(--koral);
  grid-template-columns: 2fr 1fr;
  color: var(--lyserød);
  text-align: right;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  box-sizing: border-box;
}

.left_section h2,
.right_section h2,
.left_section2 h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 200;
}

.left_section p,
.right_section p,
.left_section2 p {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 200;
}

.left_section div,
.right_section div,
.left_section2 div {
  padding: 24px 24px;
}

.left_section img {
  width: 100%;
}

.right_section img {
  width: 100%;
}

.left_section2 img {
  width: 100%;
}

.read-more-button {
  background-color: transparent;
  color: var(--lyserød);
  border: 1px solid var(--lyserød);
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "futura-pt";
  font-weight: 200;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.read-more-button:hover {
  background-color: var(--lyserød);
  color: #6b0f0f;
}

.read-more-button_inverted {
  background-color: transparent;
  color: var(--koral);
  border: 1px solid var(--koral);
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "futura-pt";
  font-weight: 200;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.read-more-button_inverted:hover {
  background-color: var(--koral);
  color: var(--lyserød);
} */

/* Kategori sektioner */

/* Instagram bar */

.instagram-bar {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--lyserød);
  border-top: 1px solid var(--mørkerød);
  border-bottom: 1px solid var(--mørkerød);
  color: var(--mørkerød);
  padding: 20px 0;
  font-size: 1.5em;
  font-family: "Bodoni 72 Oldstyle", serif;
  font-style: italic;
  position: relative;
}

.instagram-bar span {
  font-family: "futura-pt", sans-serif;
  font-weight: 200;
}

.instagram-bar span strong {
  font-family: "Bodoni 72 Oldstyle", serif;
}

.instagram-bar a {
  text-decoration: none;
  color: inherit;
  display: flex;
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Instagram bar */
