html {
  scroll-behavior: smooth;
  --lyserød: #f6e5e3;
  --koral: #ce4942;
  --mørkerød: #73140c;
  --sort: #000000;
}

@font-face {
  font-family: "Arsenica Trial", serif;
  src: url("../fonts/ArsenicaTrial-Demibold.woff2") format("woff2"), url("../fonts/ArsenicaTrial-Demibold.ttf") format("ttf");
}

/* Navbar styling */
.navbar {
  background-color: var(--mørkerød);
  color: var(--lyserød);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  text-align: center;
}

.logo h1 {
  font-size: 3em;
  font-weight: 600;
  font-family: "Arsenica Trial", serif;
  font-style: italic;
  color: var(--koral);
  letter-spacing: 2px;
  margin: 0;
}
.logo a {
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.menu a {
  font-size: 2em;
  font-weight: 200;
  font-family: "futura-pt", "Avenir", sans-serif;
  font-style: normal;
  color: var(--lyserød);
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}
.menu a:hover {
  color: var(--koral);
}
.icons {
  display: flex;
  gap: 20px;
}
.icons a img {
  color: var(--lyserød);
  width: 24px;
  height: 24px;
  transition: color 0.3s;
}
/* Burgermenu styling */

.burger-menu {
  display: none;
  font-size: 2em;
  cursor: pointer;
  z-index: 1001; /* Sørger for at den er øverst */
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    /* position: relative; */
    z-index: 1002;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
    background-color: #8b0000; /* Brug en synlig farve i stedet */
    padding: 20px;
    text-align: center;
    gap: 20px;
    z-index: 1001;
  }

  .menu a {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
  }

  .menu a:hover {
    background-color: #a52a2a;
  }

  .menu.active {
    display: flex;
  }

  .grid_logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    grid-column: 2/3;
  }

  .burger-menu {
    text-align: right;
  }
}

/* Burgermenu styling */

/* .icons a:hover img {
  color: var(--koral);
} */

/* Navbar styling */

/* Footer styling */

footer {
  background-color: var(--mørkerød);
  color: var(--lyserød);
  display: grid;
  text-align: right;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px;
}

.footer-column {
  display: grid;
  grid-column: 2;
  gap: 20px;
}
.footer-column2 {
  display: grid;
  grid-column: 3;
  gap: 20px;
}

.footer-column h3 .footer-column2 h3 {
  font-style: italic;
}
.footer-column a,
.footer-column p .footer-column2 p {
  color: var(--lyserød);
  text-decoration: none;
  font-size: 1.1em;
  font-family: "futura-pt", sans-serif;
  font-weight: 200;
}

.footer-column a:hover .footer-column2 a:hover {
  color: var(--koral);
}
.social-icons {
  display: grid;
  gap: 15px;
  margin-top: 10px;
}
.social-icons img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s;
}

/* Footer styling */
