.rotated-text {
  font-weight: 600;
  font-family: "Arsenica Trial", serif;
  font-style: italic;
  font-size: 5rem;
  color: var(--koral);
  text-transform: uppercase;
  letter-spacing: 5px;
  /*  align-self: center;
  transform: rotate(180deg);
  writing-mode: vertical-rl; */
  left: -12%;
  top: -13%;
  text-align: right;
}
/* brødkrummesti */

.breadcrumb-nav {
  margin: 20px 0;
  font-family: "Futura PT", "Avenir", sans-serif;
  font-size: 1rem;
  color: var(--mørkerød);
  padding: 20px 40px;
}

.breadcrumb-nav a {
  text-decoration: none;
  color: var(--koral);
  margin-right: 5px;
  transition: color 0.3s ease;
}

.breadcrumb-nav a:hover {
  color: var(--mørkerød);
}

.breadcrumb-nav span {
  color: var(--mørkerød);
  margin-left: 5px;
}

/* brødkrummesti */

/* filter */
.filter h2 {
  color: var(--koral);
  font-size: 2rem;
  font-family: "Bodoni 72 Oldstyle", serif;
  font-weight: 300;
  padding-top: 40px;
}

.filter h2,
.filter_dropdown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
  /* padding: 20px; */
  justify-content: center;
}

.filter_dropdown {
  display: flex;
  justify-content: flex-start;
}

#selectElement {
  width: 250px;
  padding: 6px;
  border: 1px solid var(--koral);
  background-color: var(--koral);
  font-size: 20px;
  font-family: "Bodoni 72 Oldstyle", serif;
  color: var(--lyserød);
  cursor: pointer;
}
/* filter */

/* Produktgitter */

.productList {
  /* justify-content: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 40px auto;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: var(--lyserød);
}

.card {
  background-color: var(--lyserød);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid var(--koral);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  background-color: white;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.card h3 {
  font-style: italic;
  color: var(--koral);
  margin: 10px 0;
}

.card p {
  color: var(--mørkerød);
  margin: 5px 0;
}
.price {
  font-weight: bold;
  color: var(--mørkerød);
}

.onSale {
  position: relative;
}

.onSale p.price {
  color: var(--mørkerød);
  font-weight: 400;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.soldOut {
  position: relative;
  opacity: 0.5;
  pointer-events: none;
}

.soldOut::after {
  content: "Udsolgt";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Produktgitter */

.produkt_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: auto;
  justify-content: center; /* Centrerer hele grid’et */
  align-items: center; /* Centrerer indholdet i hver kolonne */
}

@media (width <= 850px) {
  .produkt_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .rotated-text {
    text-align: center;
    order: -1;
    font-size: 4rem;
  }
}

@media (width <= 500px) {
  .rotated-text {
    font-size: 3rem;
  }

  .breadcrumb-nav {
    text-align: center;
  }
}
